.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.cv-card {
  width: 500px;
  height: auto;
  margin: 50px auto 100px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  
}


.cv-btn-submit {
  margin: 10px 1px auto;
  height: 40px;
  box-shadow: 0 2px 8px 0 #00000033, 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  border: 1.5px solid var(--Alternativo2);
  border-radius: 5px;
  background-color: var(--Alternativo2);
  color: var(--Blanco);
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  &:active {
    border: 1.5px solid var(--Alternativo);
    background-color: var(--Alternativo);
  }
}

.cv-btn-disabled {
  margin: 25px 1px auto;
  height: 35px;
  box-shadow: 0 2px 8px 0 #00000033, 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  border: 1.5px solid var(--Alternativo2);
  border-radius: 5px;
  background-color: var(--Alternativo2);
  color: var(--Gris);
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
}


.cv-label {
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: 5px;
  color: var(--Gris);
}

.cv-input input[type="file"]{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: auto;
  border: 1.5px solid var(--GrisClaro);
  border-radius: 5px;
  font-size: 1rem;
  padding: 0;
}





@media screen and (max-width: 725px)  {
  .cv-card {
    width: 320px;
  }
}


.upload-file {
  background-color: var(--Celeste);
  color: var(--Blanco);
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: var(--CelesteTwo);
  }
} 

.upload-file{
  display: block;
  text-align: center;
  width: 100%;
}

.upload-file input[type="file"] {
  display: none;
} 

