/* Reset */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root{
  /* Colores */
  --Negro: rgb(34, 34, 34);
  --Blaco: rgb(255, 255, 255);
  --BlacoH: rgb(255 255 255 / 50%);
  --Gris: rgb(100, 100, 100);
  --GrisTwo: rgb(50, 50, 50); 
  --Alternativo: rgb(255, 140, 140);
  --Alternativo2: rgb(100, 100, 200);

  /* Fonts */
  font-size: 20px;
  font-family: 'Montserrat', Arial,Helvetica,sans-serif;
}

.body {
  display: flex;
}

/* --- Header --- */

.header {
  top: 0;
  position: fixed;
  width: 100%;
}

.header-promo {
  display: block;
  text-decoration: none;
}

.header-promo__link {
  background-color: var(--Negro);
  color: var(--Blaco);
  text-align: center;
  padding: 0.2rem;
  font-size: 0.9rem;
  font-weight: 600;
}

/* Search */

.header-search {
  background-color: var(--Blaco);
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.header-search__logo-img {
  justify-items: start;
  height: 2rem;
  margin-left: 10px;
}

.header-form {
  justify-self: center;
  display: flex;
  align-items: center;
  border: 1.5px solid var(--Gris);
  border-radius: 0.5rem;
  overflow: hidden;
  width: 400px; 
}


.header-form__search-box {
  flex-grow: 5;
  border: none;
  padding: 5px;
  font-size: 20px;
  outline: none;
  font-size: 0.8rem;
  font-weight: 400;
}

.header-form__submit {
  background-color: var(--Blaco); 
  border: none;
  margin-right: 5px;
  cursor: pointer;
}

.header-form__icon {
  width: 25px; 
  height: 25px;
  display: block;
}

/* Login */

.login {
  justify-self: end;
}

.btn-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Blaco);
  border: none;
  gap: .4rem;
  &:visited {
    color: var(--Gris);
  }
  &:hover {
    color: var(--Alternativo);
  }
}

.btn-login__img {
  width: 30px;
  height: 30px;
}

.btn-login__text {
  font-size: .8rem;
  font-weight: 600;
}


/* Menu */

/* nav-desktop */
.nav-desktop {
  background-color: var(--Gris);
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.menu-desktop {
  display: flex;
  gap: 2rem;
  font-size: 0.8rem;
}


.menu-desktop__link {
  color: var(--Blaco);
  &:visited {
    color: var(--Blaco);
  }
  &:hover {
    color: var(--Alternativo);
  }
}



/* nav-burger */

.nav-burger {
  display: none;
}





/* Opciones menu para nav-desktop*/
.options {
  display: none;
  grid-template-columns: 1.5fr 3.5fr;
  background-color: var(--Blaco);
  max-height: 250px;
}

.options-menu {
  max-height: 220px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;  
  gap: 0.8rem;
  margin: 1rem;
  
}

.options-h2 {
  margin: 2rem 0.8rem;
}

.options__link {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--Gris);
}




/* Main */
.main {
  background-color: var(--Blaco);
  width: 100%;
  height: 800px;
}

/* Footer */
.footer {
  
  bottom: 0;
  width: 100%;
  height: 380px;
  background-color: var(--Gris);
}

.footer-info {
  display: grid;
  grid-template-areas: 
    "help services about social"
    "payment payment shipping shipping" ;
  grid-template-columns: repeat(4, 1fr);
  height: 80%;
  padding: 15px 10px;

}

.info__title {
  font-size: 0.9rem;
  color: var(--GrisTwo);
  margin-bottom: .8rem;
}

.help {
  grid-area: help;
}
.services {
  grid-area: services;
}
.about {
  grid-area: about;
}
.social {
  grid-area: social;
}
.payment {
  grid-area: payment;
}
.shipping {
  grid-area: shipping;
}

.info-list {
  display: block;
  margin-top: 0.5rem;
}

.info-list__li {
  margin-bottom: .1rem;
}

.info-list__link {
  font-size: 0.7rem;
  color: var(--Blaco);
}


.info-list--social {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 2rem;
  margin-top: 2rem;
  margin-left: 1rem;
  flex-wrap: wrap;
}

.social-media-icons {
  height: 1.5rem;
}

.customer-care {
  display: flex;
  flex-direction: column;
  margin-left: 0.2rem;
  gap: 0.1rem;
  color: var(--Blaco);
}

.customer-care__phone {
  font-size: 1rem;
  font-weight: 500;
}

.customer-care__schedule {
  font-size: .8rem;
}
.customer-care__email {
  font-size: 0.6rem;
}

.legal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 20%;
  background-color: var(--Negro);
}

.legal__links {
  display: inline-flex;
  
  
  gap: 2rem;
}

.legal__h5 {
  font-size: 0.6rem;
  color: var(--Blaco);
}

.legal__h6 {
  font-size: 0.55rem;
  font-weight: 400;
  color: var(--Blaco);
}






/* Estilos para la pantalla pequeña (< 800px) */
/* @media screen and (max-width: 910px) {
  .nav-desktop {
      display: none; 
  }

  
} */

.menu-toggle {
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: #f80808;
}











